export INFLUXDB_PATH=$PWD
export INFLUXDB_PORT=9090
export INFLUXDB_DB=testdb
export INFLUXDB_ADMIN_USER=adminsomething
export INFLUXDB_ADMIN_PASSWORD=totallynotmypw
export INFLUXDB_USER=telegrafsomething
export INFLUXDB_USER_PASSWORD=totallynotmypw
export INFLUXDB_READ_USER=readuser
export INFLUXDB_READ_USER_PASSWORD=totallynotmypw
export INFLUXDB_WRITE_USER=writeuser
export INFLUXDB_WRITE_USER_PASSWORD=totallynotmypw
